Repository yhajjar/docling-haystack-RAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

black:
  name: Black
  entry: poetry run black docling_haystack test
  pass_filenames: false
  language: system

isort:
  name: isort
  entry: poetry run isort docling_haystack test
  pass_filenames: false
  language: system

autoflake:
  name: autoflake
  entry: poetry run autoflake docling_haystack test
  pass_filenames: false
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy docling_haystack test
  pass_filenames: false
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8 docling_haystack
  pass_filenames: false
  language: system

pytest:
  name: Pytest
  entry: poetry run pytest test/
  pass_filenames: false
  language: system

nbqa_black:
  name: nbQA Black
  entry: poetry run nbqa black examples/
  pass_filenames: false
  language: system

nbqa_isort:
  name: nbQA isort
  entry: poetry run nbqa isort examples/
  pass_filenames: false
  language: system

chore: extend README, code of conduct
  CODE_OF_CONDUCT.md
  README.md
Due: none

chore: move out notebook-specific deps
  docling_haystack/converter.py
  examples/example_milvus.ipynb
  poetry.lock
  pyproject.toml
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

test: expand unit tests
  test/data/2408.09869v5.json
  test/data/2408.09869v5.md
  test/data/2408.09869v5_hs_docs_doc_chunks.json
  test/data/2408.09869v5_hs_docs_markdown.json
  test/test_converter.py
Due: black, isort, autoflake, mypy, flake8, pytest

fix: switch to dict-based meta extraction
  docling_haystack/converter.py
  examples/example_milvus.ipynb
  test/data/2408.09869v5_hs_docs_doc_chunks.json
  test/data/2408.09869v5_hs_docs_markdown.json
  test/test_converter.py
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

docs: add docstrings
  docling_haystack/converter.py
  examples/example_milvus.ipynb
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

fix: prevent field conflicts, add in-mem example
  docling_haystack/converter.py
  examples/example_basic.ipynb
  test/data/2408.09869v5_hs_docs_doc_chunks.json
  test/data/2408.09869v5_hs_docs_markdown.json
Due: black, isort, autoflake, mypy, flake8, pytest, nbqa_black, nbqa_isort

chore: temporarily comment out pkg references
  README.md
Due: none

chore: add CI/CD (#2)
  .github/actions/setup-poetry/action.yml
  .github/mergify.yml
  .github/scripts/release.sh
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  test/data/2408.09869v5_hs_docs_doc_chunks.json
Due: none

chore: bootstrap releasing (#3)
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

docs: update README (#6)
  README.md
Due: none

chore: update locked dependency versions (#7)
  CONTRIBUTING.md
  poetry.lock
Due: none

comit
  services/docling-haystack-parser/Dockerfile
  services/docling-haystack-parser/app.py
  services/docling-haystack-parser/requirements.txt
Due: black, isort, autoflake, mypy, flake8, pytest

Update requirements.txt
  services/docling-haystack-parser/requirements.txt
Due: none

Update app.py
  services/docling-haystack-parser/app.py
Due: black, isort, autoflake, mypy, flake8, pytest

comit (add arabic ocr)
  services/docling-haystack-parser/Dockerfile
  services/docling-haystack-parser/requirements.txt
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pytest: any of: \.py$
  nbqa_black: any of: \.ipynb$
  nbqa_isort: any of: \.ipynb$
